<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/fordisable.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">   
          <img src="/img/peercologo.jpg" alt="My Image" width="200" height="200">
          <form class="login-form">
            <input id="id" type="text" placeholder="    회의에 사용할 닉네임을 입력해 주세요" 
            onfocus="this.placeholder=''" onblur="this.placeholder='    회의에 사용할 닉네임을 입력해 주세요'"/>
            <p id="buttonA">확인</p id="buttonA">
            <p class="message">시각장애인 환경입니다. <a href="/login">일반 환경으로 돌아가기</a></p>
          </form>
        </div>
      </div>
</body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->