<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">
    
    <script src="/js/home/selectjoin.js" defer></script>
    <title>Document</title>

</head>
<body>
    <div class="login-page">
        <div class="form">   
          <img src="/img/peercologo.jpg" alt="My Image" width="200" height="200">
          <form class="login-form">
            <p></p>
            <p class="message"><b>최윤성님 환영합니다</b></p>
            <p></p>

            <p id="buttonA"><a>회의 개설하기</a></p id="buttonA">
              <p></p>
            <p id="buttonB"><b>회의방 입장하기</b></p id="buttonB">
          </form>
        </div>
      </div>
</body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->